.sixsheet{
    width: 100%;
    height: 1013px;
    background-image: url("../image/sixbg.png");
    position: absolute;
    top: 160px;
    left: 0px;
}
.sixsheet .sixshit{
    position: relative;
width: 394.35px;
/* height: 428.61px; */
left: 0px;
top: -140px;
}