.twosheet {
  position: absolute;
  width: 100%;
  height: 661px;
  left: 0px;
  top: 2380px;
  background-color: #eaeaea;
}

.infobox {
  position: absolute;
  width: 25%;
  height: 521px;
  left: 18%;
  top: 70px;
  background: #ffffff;
  border-radius: 10px;
}

.twoborder {
  box-sizing: border-box;

  position: relative;
  width: 94%;
  height: 491px;
  left: 3%;
  top: 15px;
  /* opacity: 0.3; */
  border: 2px dashed #ff9200;
  border-radius: 8px;
}

.infobox .twoh3 {
  position: relative;
  width: 20%;
  height: 40px;
  left: 6%;
  top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */

  /* black */

  color: #323232;
}

.infobox .twoh2 {
  position: relative;
  width: 90%;
  height: 30px;
  left: 6%;
  top: 19px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: #ff9200;
  text-transform: uppercase;
}

.infobox .twop {
  position: relative;
  width: 80%;
  height: 46px;
  left: 5%;
  top: 40px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 130%;
  /* or 23px */

  /* black */

  color: #3a3a3a;
}

.infobox .inname {
  box-sizing: border-box;
  padding: 0px 10px;
  position: relative;
  width: 90%;
  height: 45px;
  left: 3%;
  top: 20px;
  background: #ffffff;
  border: 1px solid #ff9200;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  z-index: 0;
}

.infobox .namelabel {
  position: relative;
  width: 25%;
  height: 17px;
  left: 5%;
  top: 30px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: white;
  display: flex;
  align-items: center;
  z-index: 1;
  color: #3a3a3a;
}

.infobox .innum {
  box-sizing: border-box;
  padding: 0px 10px;
  position: relative;
  width: 90%;
  height: 45px;
  left: 3%;
  top: 35px;
  background: #ffffff;
  border: 1px solid #ff9200;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  z-index: 0;
}

.infobox .numlabel {
  position: relative;
  width: 27%;
  height: 17px;
  left: 5%;
  top: 43px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: white;
  display: flex;
  align-items: center;
  z-index: 1;
  color: #3a3a3a;
}

.infobox .twosheetbtn {
  position: absolute;
  width: 90%;
  height: 44px;
  left: 3%;
  top: 350px;
  background-color: #ff9200;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.infobox .twosheetbtn p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal; 
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.infobox .twosheetend {
  position: absolute;
  width: 70%;
  height: 41px;
  left: 10%;
  top: 410px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #3a3a3a;
  opacity: 0.5;
}

.imgbox .oneimg {
  position: absolute;
  width: 33%;
  height: 433px;
  left: 52%;
  top: 131.24px;
  z-index: 1;
}

.imgbox .fourimg {
  position: absolute;
  width: 30%;
  height: 310px;
  left: 54%;
  top: 40px;
  z-index: 0;
}

.imgbox .twoimg {
  position: absolute;
  width: 15%;
  /* height: 249px; */
  left: 65%;
  top: 372px;
  z-index: 3;
}

.imgbox .threeimg {
  position: absolute;
  width: 22%;
  height: 295px;
  left: 50%;
  top: 333px;
  z-index: 2;
}

@media (min-width: 450px) and (max-width: 1500px) {
  .infobox {
    height: 440px;
  }

  .twoborder {
    height: 410px;
  }

  .infobox .twoh3 {
    font-size: 33px;
    top: 20px;
  }

  .infobox .twoh2 {
    width: 80%;
    font-size: 27px;
  }

  .infobox .numlabel {
    width: 30%;
    font-size: 12px;
  }

  .infobox .namelabel {
    width: 27%;
    font-size: 12px;
  }

  .infobox .inputname {
    top: 200px;
  }

  .infobox .twop {
    width: 90%;
    font-size: 12px;
    top: 10px;
  }

  .infobox .twosheetbtn {
    top: 270px;
  }
  .infobox .twosheetbtn p{
    margin-top: 15px;
  }
  .infobox .twosheetend {
    font-size: 11px;
    top: 330px;
  }
}
@media (max-width: 449px){
  .twosheet{
    top: 3200px;
    height: 1050px;
  }
  .twosheet .infobox{
    width: 80%;
    left: 10%;
  }
  .infobox {
    height: 440px;
  }

  .twoborder {
    height: 410px;
  }

  .infobox .twoh3 {
    font-size: 33px;
    top: 20px;
  }

  .infobox .twoh2 {
    width: 80%;
    font-size: 24px;
  }

  .infobox .numlabel {
    width: 33%;
    font-size: 12px;
    top: 0px;
  }

  .infobox .namelabel {
    width: 27%;
    font-size: 12px;
    top: 0px;
  }

  .infobox .inputname {
    top: 100px;
  }
  .infobox .inname{
    top: -10px;
  }
  .infobox .innum{
    top: -10px;
  }
  .infobox .twop {
    width: 90%;
    font-size: 12px;
    top: 10px;
  }

  .infobox .twosheetbtn {
    top: 270px;
  }
  .infobox .twosheetbtn p{
    margin-top: 15px;
  }
  .infobox .twosheetend {
    font-size: 11px;
    top: 330px;
  }
  .twosheet .imgbox{
    width: 90%;
    left: 5%;
    top: 500px;
  }
 
.imgbox .oneimg {
  width: 90%;
  left: 5%;
  top: 590px;
}

.imgbox .fourimg {
  width: 85%;
  left: 7.5%;
  top: 540px;
}

.imgbox .twoimg {
  width: 30%;
  left: 40%;
  top: 852px;
}

.imgbox .threeimg {
  width: 44%;
  left: 15%;
  top: 753px;
}

}